
header{
    width: 100%;
    background-image: url("http://getwallpapers.com/wallpaper/full/f/6/9/411016.jpg");
    background-position: center;
    height: 300px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;

    h1, h3 {
        padding-top: 20px;
        padding-left: 10px;
    }

    }





