
*{
    box-sizing: border-box;
    margin: 0 auto;
    
}

.gallery{
    figure{
        img{
          max-width: 100%;
          height: auto;
          vertical-align: middle;
          border: 0;
        }
           
    }
}


     

         


                
                 
              
                
            
        
       
